::-webkit-scrollbar {
    height: 10px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #414e64; /* Kaydırma çubuğu rengi */
    border-radius: 6px; /* Kaydırma çubuğu kenar yarıçapı */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(31 41 55); /* Kaydırma çubuğu izleme rengi */
  }


.active{
  --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

